.calendar, .calendar * {
    box-sizing: border-box;
}

.calendar {
    border-radius: 3px;
    box-shadow: 0 3px 10px #dbdbdb;
    border: 1px solid #cccccc;
    max-width: 300px;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.calendar .heading {
    height: 35px;
    font-weight: bold;
}

.calendar .heading > span {
    line-height: 35px;
}

.calendar .heading .prev-month {
    float: left;
}

.calendar .heading .next-month {
    float: right;
}

.calendar .heading > button {
    border-radius: 3px;
    background: none;
    margin: 5px;
    border: none;
    width: 40px;
    height: 32px;
}

.calendar .heading > button:hover {
    background-color: #f2f2f2;
}

.calendar .calendar-container {
    clear: both;
}

.calendar .calendar-container .day-wrapper {
    padding: 5px;
    float: right;
    width: 14.28571429%;
}

.calendar .calendar-container .day-wrapper .day {
    width: 100%;
}

.calendar .calendar-container .day-wrapper .day:not(.current-month) {
    opacity: .5;
}

.calendar .calendar-container button {
    border: none;
    background: none;
    outline: none;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

.calendar .calendar-container button:hover {
    background-color: #eeeeff;
}

.calendar .calendar-container button[disabled] {
    color: #aaa;
    cursor: not-allowed;
    background-color: #ebebeb;
}

.calendar .calendar-container button.selected {
    background-color: #337ab7;
    color: #ffffff;
}

.calendar .days-of-week {
    font-weight: bold;
    display: table;
    width: 100%;
    border-bottom: 1px solid #fafafa;
}

.calendar .days-of-week > div {
    display: table-cell;
    width: 14.28571429%;
    float: right;
}

.calendar .days-of-week:after {
    content: '';
    display: block;
    clear: both;
}

.calendar:after {
    content: '';
    display: block;
    clear: both;
}
